#sitewatch-hello
{
  color: red ! important;
}
#sitewatch-toolbar-button
{
  list-style-image: url("chrome://sitewatch/content/eye.png");
  -moz-image-region: rect(40px 40px 40px 40px);
}
#sitewatch-toolbar-button:hover
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
[iconsize="small"] #sitewatch-toolbar-button
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
[iconsize="small"] #sitewatch-toolbar-button:hover
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
