/* This is just an example.  You shouldn't do this. */
#sitestalker-hello
{
  color: red ! important;
}
#sitestalker-toolbar-button
{
  list-style-image: url("chrome://sitestalker/content/eye.png");
  -moz-image-region: rect(40px 40px 40px 40px);
}
#sitestalker-toolbar-button:hover
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
[iconsize="small"] #sitestalker-toolbar-button
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
[iconsize="small"] #sitestalker-toolbar-button:hover
{
  -moz-image-region: rect(40px 40px 40px 40px);
}
